[submodule "c/lwmem"]
	path = c/lwmem
	url = git@github.com:MaJerle/lwmem.git
	branch = main
[submodule "c/printf"]
	path = c/printf
	url = git@github.com:mpaland/printf.git
	branch = master
[submodule "cores/cv32e40p"]
	path = cores/cv32e40p
	url = git@github.com:openhwgroup/cv32e40p.git
	branch = master
[submodule "cores/darkriscv"]
	path = cores/darkriscv
	url = git@github.com:MrJake222/darkriscv.git
	branch = develop-my
[submodule "cores/hazard3"]
	path = cores/hazard3
	url = git@github.com:MrJake222/Hazard3.git
	branch = my-develop
[submodule "cores/ibex"]
	path = cores/ibex
	url = git@github.com:lowRISC/ibex.git
	branch = master
[submodule "cores/kronos"]
	path = cores/kronos
	url = git@github.com:SonalPinto/kronos.git
	branch = master
[submodule "cores/nox"]
	path = cores/nox
	url = git@github.com:aignacio/nox.git
	branch = master
[submodule "cores/pequeno"]
	path = cores/pequeno
	url = git@github.com:MrJake222/pequeno_riscv.git
	branch = fix-dyn-arr
[submodule "cores/picorv32"]
	path = cores/picorv32
	url = git@github.com:YosysHQ/picorv32.git
	branch = main
[submodule "cores/rocket"]
	path = cores/rocket
	url = git@github.com:MrJake222/rocket-chip.git
	branch = mill-version
[submodule "cores/rvx"]
	path = cores/rvx
	url = git@github.com:rafaelcalcada/rvx.git
	branch = main
[submodule "cores/vexriscv"]
	path = cores/vexriscv
	url = git@github.com:MrJake222/VexRiscv.git
	branch = develop
[submodule "cores/femtorv"]
	path = cores/femtorv
	url = git@github.com:MrJake222/learn-fpga.git
	branch = my-develop
[submodule "riscv-opcodes"]
	path = riscv-opcodes
	url = git@github.com:MrJake222/riscv-opcodes.git
