[submodule "picorv32/picorv32-impl"]
	path = cores/picorv32
	url = https://github.com/YosysHQ/picorv32.git
[submodule "c/printf"]
	path = c/printf
	url = https://github.com/mpaland/printf.git
[submodule "vexriscv-impl"]
	path = cores/vexriscv
	url = https://github.com/MrJake222/VexRiscv.git
	branch = develop
[submodule "c/lwmem"]
	path = c/lwmem
	url = git@github.com:MaJerle/lwmem.git
	branch = main
[submodule "rocket-impl"]
	path = cores/rocket
	url = git@github.com:MrJake222/rocket-chip.git
[submodule "cv32e40p-impl"]
	path = cores/cv32e40p
	url = git@github.com:openhwgroup/cv32e40p.git
[submodule "ibex"]
	path = cores/ibex
	url = git@github.com:lowRISC/ibex.git
[submodule "cores/darkriscv"]
	path = cores/darkriscv
	url = git@github.com:darklife/darkriscv.git
[submodule "cores/kronos"]
	path = cores/kronos
	url = git@github.com:SonalPinto/kronos.git
[submodule "cores/Hazard3"]
	path = cores/Hazard3
	url = git@github.com:Wren6991/Hazard3.git
